{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "plugins": ["vue"],
  "globals": {
    "dialog": false,
    "fs": false,
    "process": false
  },
  "rules": {
    "no-var": 2
  }
}
